.bg-orange {
    background-color: #ffd400;
}
a,
a:hover {
    text-decoration: none;
}
.bg-blue {
    background-color: #005ab7 !important;
}

.btn-login {
    color: #fff;
    border-color: #fff;
}

.btn-login:hover {
    border-color: #fff;
    background: none;
    box-shadow: 1px 1px 9px 1px #0000004a;
}

.invalid-text {
    width: 100%;
    margin-top: 0.25rem;
    font-size: .875em;
    color: #dc3545;
}

/*.profile-ds-info {*/
/*    height: 248px;*/
/*    overflow: hidden;*/
/*}*/
.portlet {
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
 }
.portlet>.portlet-title {
    border-bottom: 1px solid #eee;
    padding: 0;
    margin-bottom: 10px;
    min-height: 41px;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
.portlet>.portlet-title>.caption {
    float: left;
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
    padding: 10px 0;
}
.bold {
    font-weight: 700!important;
}
.portlet>.portlet-body {
    clear: both;
}
.profile-userpic img {
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
}
.color-active {
    color: #1da1f2;
}
.profile-ds-info .form-body {
    padding: 15px;
}
.form-horizontal .form-group {
    margin-bottom: 15px;
}
@media (min-width: 992px) {
    .w-lg-50 {
        width: 50%;
    }
}
